<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqz.service.mapper.OrderRecordMapper">
    <resultMap id="BaseResultMap" type="com.zqz.service.entity.OrderRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_id, `name`, amount, address, c_time
  </sql>

    <!-- 批量插入数据 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into order_record (order_id, `name`, amount, address)
        values
        <foreach collection="list" item="order" index="index"
                 separator=",">
            (#{order.orderId}, #{order.name}, #{order.amount}, #{order.address})
        </foreach>
    </insert>

    <select id="selectByOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_record
        where order_id = #{orderId}
    </select>


</mapper>